meta(name='viewport', content='width=device-width, initial-scale=1')
link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Lato:100,300,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='//code.jquery.com/jquery-2.1.4.min.js')
script(src='/javascripts/base32.js')
script(src='/javascripts/home.js')