.rsvp-window
  .close-button
    i.fa.fa-close
  .form
    table
      tr
        td.label
          | Email
        td.email-input
          input.email(type='text', name='email')
      tr
        td.label
          | Passcode
        td.passcode-input
          input.passcode(type='text', name='passcode')
    .submit-button.button
      | Submit
    .info
      | Email and passcode must match the information provided on your mailed invitation. Please email us at 
      a(href='mailto:syuan100@gmail.com')
        | syuan100@gmail.com
      |  if you have having difficulties.
.content
  .header
    ul#menu
      li
        a(href="#") Wedding Details
      li 
        a(href="#") Our Story
      li 
        a(href="#", class='rsvp-action') RSVP