doctype html
html(lang='en')
  head
    title dbcheck
  body
    .connection
      | connected as 
      = connectionid
    br
    br
    .db
      | Table Integrity a
      br
      br
      strong Current Schema for People
      br
      = columns
      table.current-schema
      br
      br
      strong Desired Schema for People
      br
      table.desired-schema
        tr
