doctype html
html(lang='en')
  head
    title dbcheck
  body
    .connection
      | connected as 
      = connectionid
    br
    br
    .db
      | Table Integrity
      br
      br
      strong Current Schema for People
      br
      table.current-schema
        tr
          - each column in columns
            td= column.Field
      br
      br
      strong Desired Schema for People
      br
      table.desired-schema
        tr
          - each column in desiredcolumns
            td= column
        tr
          - each column in desiredcolumns
            td(class='#{column}')
