doctype html
html(lang='en')
  head
    title dbcheck
  body
    .connection
      | connected as 
      = connectionid
    br
    .db
      | Table Integrity
      br
      ul
        - each column in columns
          li= column.text
