doctype html
html(lang='en')
  head
    title dbcheck
  body
    .connection
      | connected as 
      = connectionid
    br
    br
    .db
      | Table Integrity
      br
      br
      strong Current Schema
      br
      ul.current-schema
        - each column in columns
          li= column.Field
