doctype html
html(lang='en')
  head
    title Jade
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/countdown.js')
  body.fp
    #clockdiv
      h1 GRACE + STEVEN
      div
        span.days
        .smalltext days
      div
        span.hours
        .smalltext hours
      div
        span.minutes
        .smalltext minutes
      div
        span.seconds
        .smalltext seconds
