doctype html
html(lang='en')
  head
    title #yuanamarryme | 06.11.16
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/home.js')
  body.home
    .rsvp-window
      .close-button
        i.fa.fa-close
      .form
        table
          tr
            td.label
              | Email
            td.email-input
              input.email(type='text', name='email')
          tr
            td.label
              | Passcode
            td.passcode-input
              input.passcode(type='text', name='passcode')
        .submit-button.button
          | Submit
        .info
          | Email and passcode must match the information provided on your mailed invitation. Please email us at 
          a(href='mailto:syuan100@gmail.com')
            | syuan100@gmail.com
          |  if you have having difficulties.
    .content
      .header
        ul#menu
          li
            a(href="#") Wedding Details
          li 
            a(href="#") Our Story
          li 
            a(href="#", class='rsvp-action') RSVPd
      .home-image
        img#main-image(src='/img/home_icon.png')
        br
        img#name-image(src='/img/names.png')
    .rsvp-footer
      .rsvp-button.button.rsvp-action RSVP
    .wedding-party
      .girls
        .person.maid-of-honor
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Grace Kim
          .title
            | Maid of Honor
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Ann Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Aileen Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Becky Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Joanie Simms
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Jing Zhao
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .boys
        .person.best-man
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Daniel Tsai
          .title
            | Best Man
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Min Soo Kim
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Jeffrey Young
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Scott Lee
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Kevin Chao
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Ni Mo
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.