doctype html
html(lang='en')
  head
    title #yuanamarryme | 06.11.16
    include ./includes/head.jade
  body.home
    include ./includes/header.jade
    .home-image
      img#main-image(src='/img/home_icon.png')
      br
      img#name-image(src='/img/names.png')
    .rsvp-footer
      .rsvp-button.button.rsvp-action RSVP
    .bride-groom-photo-mobile.hidden
    .bride-groom-photo
      .bios
        a.button(href='/ourstory')
          | Our Story

    .wedding-party
      h1.styled.wedding-party-title
        | Wedding Party
      .girls
        .person.maid-of-honor
          .picture
            img(src='/img/gracekim.jpg')
          .name
            | Grace Kim
          .title
            | Maid of Honor
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/ann.jpg')
          .name
            | Ann Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/aileen.jpg')
          .name
            | Aileen Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/becky.jpg')
          .name
            | Becky Jiras
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Joanie Simms
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Jing Zhao
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .boys
        .person.best-man
          .picture
            img(src='/img/daniel.jpg')
          .name
            | Daniel Tsai
          .title
            | Best Man
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Min Soo Kim
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/jeff.jpg')
          .name
            | Jeffrey Young
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Scott Lee
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/kevin.jpg')
          .name
            | Kevin Chao
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .person
          .picture
            img(src='/img/nimo.jpg')
          .name
            | Ni Mo
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .content.wedding-details
      .registry.section
        h1.styled Registry
        p.paragraph
          | If you'd like to give us a gift, we ask for a monetary gift to help us start our lives together. Can't wait to see you at the wedding :)
      .honeyfund(style="width:200px;margin:0 auto;")
        a.button(href="http://www.honeyfund.com/wedding/yuanamarryme", target="_blank")
         | View our Honeyfund