doctype html
html(lang='en')
  head
    title #yuanamarryme | 06.11.16
    include ./includes/head.jade
  body.home
    include ./includes/header.jade
    .home-image
      img#main-image(src='/img/home_icon.png')
      br
      img#name-image(src='/img/names.png')
    .rsvp-footer
      .rsvp-button.button.rsvp-action RSVP
    .bride-groom-photo-mobile.hidden
    .bride-groom-photo
      .bios
        a.button(href='/ourstory')
          | Our Story

    .wedding-party
      h1.styled.wedding-party-title
        | Wedding Party
      .girls
        .person.maid-of-honor
          .picture
            img(src='/img/gracekim.jpg')
          .name
            | Grace Kim
          .title
            | Maid of Honor
          .description
            | Hi I'm Krace (Grace K)! I feel absolutely honored to be a part of Jrace and Steven's wedding. It's been an incredible blessing to be planning our weddings together this year and doing this long-distance thing has enabled us to grow even closer, which is crazy and beautiful, just like us (I'm crazy, she's beautiful)! I'm currently teaching Kindergarten in San Diego, which makes me slightly nervous about making a toast at this wedding considering my audience generally consists of 5-year olds who will laugh or cry at anything. Hope I don't screw it up too much. Love you, bestie.
            br
            br
            | If I were to be stranded on an island (by choice or otherwise), I would bring a magic genie who is willing to grant my wishes, a really smart and preferably handsome companion (husband, I guess), and a fully stocked boat in case the first two fall through and I need to take care of business on my own. :)
          .expand
            | More
        .person
          .picture
            img(src='/img/ann.jpg')
          .name
            | Ann Jiras
          .title
            | Bridesmaid
          .description
            | Hello! My name is Ann. Growing up, I liked copying Grace in everything she did. Our mom even started giving us the same presents (to Grace's dislike and my utter joy) because since Grace was cool, whatever she got was cool too. Grace is the best role model and big sister I could ever ask for. Even though now we find ourselves in different careers, cities, and life stages, her impact and presence in my life is the same as it was when we were growing up. I am so excited as she embarks on this new journey with my soon-to-be-bro, Steven. I know that their marriage will be a testimony of God's faithfulness and love! If I were going to be stranded on an island, three things I would bring: tool box, piano, and endless art supplies.
          .expand
            | More
        .person
          .picture
            img(src='/img/aileen.jpg')
          .name
            | Aileen Jiras
          .title
            | Bridesmaid
          .description
            | Since Grace is the oldest, sometimes people would refer to the rest of us as "Grace #2" and so forth. I am Grace #3--aka Aileen ;) I like making people laugh, singing songs out of nowhere, and working in health care. I've known Grace since I popped outta my mom (that's over two decades of solid friendship) and I'm so excited to have a brother!
            br
            br
            | 3 things I would bring on an island:
            br
            | A fully fueled plane, a pilot, and a GPS... hahaha
          .expand
            | More
        .person
          .picture
            img(src='/img/becky.jpg')
          .name
            | Becky Jiras
          .title
            | Bridesmaid
          .description
            | Hello! I am Becky, the youngest Jiras sister aka baby jiras. Although I have three older sisters, Grace will always be my BIGGEST sister and she has a special place in my heart. She has been the best sister I could ever ask for, always knowing just what to do and say, and lending me wise big sis advice. I am so incredibly excited for Grace and what this next chapter of her life has in store for her, and I am honored that I made the cut to be a bridesmaid and be a part of her special day!
            br
            br
            | Q: if i were going to be stranded on an island, 3 items I would bring a never ending supply of Special K cereal, Chris Hemsworth and a Bible 
          .expand
            | More
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Joanie Simms
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .expand
            | More
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Jing Zhao
          .title
            | Bridesmaid
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .expand
            | More
      .boys
        .person.best-man
          .picture
            img(src='/img/daniel.jpg')
          .name
            | Daniel Tsai
          .title
            | Best Man
          .description
            | How I know the groom and/or bride: I first met Steven when we were both in 8th Grade at a church camping retreat! After that, we really started to become close friends when we were roommates at UCSD during 3rd year, at the infamous 3121 apartment at Costa Verde. The years that followed were enthralling, terrifying, wonderful, enriching, and profound. We grew as brothers and crew, and are looking forward to a long lifetime of brotherhood. Grace was also a good friend of our group, and we got to know each other through our time at UCSD, but mostly I know her through all the great things Steven said about her! 
            br
            br
            | A shared memory between me and Steven: A few years after we graduated from college, I was burned out from work. I was desperate to get away, return to the source, and see nature again. I decided to spontaneously go camping in Sequoia. When I told all my friends, Steven was the only one who was down to drop everything go. We brought a bottle of Speyside single malt Scotch, some steaks, fishing gear, and a six pack of beers and had a great weekend cooking by the fire, hiking, and fishing. We then drove back to our busy civilized life while blasting 90's gangster rap the whole way back. 
            br
            br
            | If I was stranded on an island, what 3 items I would bring:
            br
            | A bottle of Laphroiag Single malt 18 yr old scotch
            br
            | The book: Infinite Jest by David foster Wallace
            br
            | Toilet paper
          .expand
            | More
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Min Soo Kim
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .expand
            | More
        .person
          .picture
            img(src='/img/jeff.jpg')
          .name
            | Jeffrey Young
          .title
            | Groomsman
          .description
            | It was February 14, eight years ago. We were freshmen at UCSD and attended the same calculus class. In my dorm room, Steven was on the floor solving problems while I was on my bed reviewing concepts for our upcoming exam. I asked, “Steven, do you know how to solve sin2x + cos2x?” He replied, “I do.” As soon as I heard that reply, I knew those two words held a special meaning in my heart and I held onto it very dearly. Steven was the one. 
            br
            br
            | Fasting forward to June 27 of this year. I was in medical school in LA, while Steven was working in San Francisco. I flew up to see him for a special occasion. As we stood next to each other, I felt reassured by his calm and confident presence. Steven was holding the ring. My heart was beating fast. He was ready. I was ready. When he got down on his knees and said, “Will you marry me?” I knew in my heart what the answer was. 
            br
            br
            | Steven was the one,
            br
            br
            | for Grace.  
            br
            br
            | I couldn’t have been any happier.
            br
            br
            | Three Things on an Island:
            br
            br
            | 1. Sunscreen
            br
            | 2. Volleyball
            br
            | 3. Noah
          .expand
            | More
        .person
          .picture
            img(src='/img/will-smith.jpg')
          .name
            | Scott Lee
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .expand
            | More
        .person
          .picture
            img(src='/img/kevin.jpg')
          .name
            | Kevin Chao
          .title
            | Groomsman
          .description
            | Steven was one of my first friends in college, and I had met him through Grace, who I'm pretty sure had a crush on him at the time.
            br
            br
            | One memory of Steven that I’ll never forget is when he recruited me to help him sell chicken bowls to fund a missions trip to Korea.
            br
            br
            | He had to raise about a thousand dollars for his ticket, and I remember one night, when I was trying to figure out whether the idea was even viable (it wasn’t looking too strong on paper), Steven busted through the our apartment door with his arms full of boxes. He had gone out and bought two gigantic rice warmers, 3 boxes of 100 count disposable chopsticks, restaurant style to-go containers, and a ton of chicken.
            br
            br
            | Needless to say, we were committed.
            br
            br
            | We pull an all-nighter cooking chicken (our secret ingredient was aloe juice) and making rice. The next morning we lug everything onto campus and set up in the quad next to our dorm. I always cringe a little when I think about how questionable we looked – two guys sitting next to the laundry room, asking confused passerbys if they wanted to buy a chicken bowl. We decided to call it a day once we started noticing people taking the long way around.
            br
            br
            | At the end of the day, we had sold 0 chicken bowls, and Steven was now a couple hundred dollars in the red.
            br
            br
            | We also had to eat chicken for the next two weeks.
            br
            br
            | So there were two things I learned from this experience: the first was that doing a little thinking goes a long way in business (ahem, Steven).
            br
            br
            | The second was that Steven was the kind of person who is willing to take the chance, invest, and work hard for something he believes in.
            br
            br            
            | If you read this Grace, I’d like to let you know that whenever Steven talks about you, I can tell that he truly believes in you, and I know that he will work hard to be the best husband he can be. The only thing I’d ask of you, is to help him out with that little bit of thinking he sometimes forgets to do. Just kidding Steven! (not really)
            br
            br
            | Congratulations guys!
            br
            br
            | 3. Three things I'd bring to a deserted Island:
            br
            br
            | A Beach Umbrella
            br
            | My Girlfriend
            br
            | Steven's disarming smile
          .expand
            | More
        .person
          .picture
            img(src='/img/nimo.jpg')
          .name
            | Ni Mo
          .title
            | Groomsman
          .description
            | Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .expand
            | More
    .content.wedding-details
      .registry.section
        h1.styled Registry
        p.paragraph
          | If you'd like to give us a gift, we ask for a monetary gift to help us start our lives together. Can't wait to see you at the wedding :)
      .honeyfund(style="width:200px;margin:0 auto;")
        a.button(href="http://www.honeyfund.com/wedding/yuanamarryme", target="_blank")
         | View our Honeyfund
    include ./includes/footer.jade