doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/countdown.js')
  body.fp
    h1 Countdown Clock
    #clockdiv
      div
        span.days
        .smalltext Days
      div
        span.hours
        .smalltext Hours
      div
        span.minutes
        .smalltext Minutes
      div
        span.seconds
        .smalltext Seconds
