doctype html
html(lang='en')
  head
    title #yuanamarryme | 06.11.16
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
  body.home
    .header
      ul#menu
        li
          a(href="#") Wedding Details
        li 
          a(href="#") Our Story
        li 
          a(href="#") RSVP
    .content
      .home-image
        img#main-image(src='/img/home_icon.png')
        br
        img#name-image(src='/img/namges.png')
      .details
        span.location Hiddenbrooke Golf Club
        br
        span.date June 11th, 2016
        br
        span.text Ceremony starts at five o'clock in the evening
        br
        span.directions Directions
    .rsvp-footer
      .rsvp-button RSVP