doctype html
html(lang='en')
  head
    title
      | #yuanamarryme | Wedding Details
    include ./includes/head.jade
  body.home.our-story-content
    include ./includes/header.jade
    h1.our-story
      | We met on the first day of college orientation.
    .pic.first
      img(src='/img/first.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    p.paragraph
      strong
        | 2007
      br
      | Grace and Steven meet in orientation on the first day of college. Steven thought Grace was cute. Grace thought Steven looked sleepy. Despite his unfortunate sleepy looks, they became friends. They explored UCSD together with friends and did fun things like join a dance group called Kunfusion and go to Intervarsity retreats together. They also stayed up late hanging out, finishing CAT papers, and talking about all sorts of things with each other. By the end of the year Steven had a major crush on Grace, and Grace thought Steven needed to take more showers.
    .pic
      img(src='/img/2008.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    p.paragraph
      strong
        | 2008 - 2010
      br
      | Steven introduces Grace to her favorite things: strawberry milk tea with boba and tart green tea yogurt from yogurt world. Grace discovers that Steven is forgetful and loses many things like his brand new iPod his parents got him and his laptop he left on the UCSD campus shuttle. Through their friendship they found out that they could tell each other anything and talk about everything. Steven may have confessed his feelings one or three times. Grace may have just wanted to be friends one or three times.
    .pic
      img(src='/img/2011.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    p.paragraph
      strong
        | 2011 - 2012
      br
      | Steven and Grace graduate from UCSD. Grace realizes what a good friend Steven has been to her all along. Two months before she has to move back to Norcal, Grace decides to confess her feelings to Steven (it helped now that he showered more and had better hair cuts). And Steven... may have just wanted to be friends. Grace moves to Norcal and Steven stays in San Diego. They start working and go about their own lives.
    .pic
      img(src='/img/first.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    p.paragraph
      strong
        | 2013 
      br
      | Grace visits San Diego and after hanging out for the first time in a long time, Steven confesses that he actually still has feelings for her. After a few bumps in the road, they start dating long-distance in June. Steven eventually quits his job in San Diego and moves to San Francisco to be closer to Grace. The 
      strike
        | End
      |  Beginning.
    .pic
      img(src='/img/first.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    include ./includes/footer.jade