doctype html
html(lang='en')
  head
    title
      | #yuanamarryme | Wedding Details
    include ./includes/head.jade
  body.home.our-story-content
    include ./includes/header.jade
    h1.our-story
      | We met in orientation our freshman year at UCSD
    .pic.first
      img(src='/img/first.jpg')
      br
      .span.caption
        | Steven trying really hard to be cool
        br
        | circa September 24, 2007
    p.paragraph
      strong
        | 2007
      br
      | Grace and Steven meet in orientation on the first day of college. Steven thought Grace was cute. Grace thought Steven looked sleepy. Despite his unfortunate sleepy looks, they became friends. They explored UCSD together with other friends and did fun things like join a dance group called Kunfusion and go Intervarsity retreats together. They also stayed up late hanging out, finishing CAT papers, and talking about all sorts of things with each other. By the end of the year Steven had a crush on Grace and Grace thought Steven needed to take more showers.
    p.paragraph
      strong
        | 2008 - 2010
      br
      | Steven introduces Grace to her favorite things: strawberry milk tea with boba and tart green tea yogurt from yogurt world. Grace discovers that Steven loses many things like his brand new iPod his parents got him and his laptop he left on the UCSD campus loop shuttle. They move out of UCSD and live with their friends. Once in a while, they'll occasionally hang out and have long talks about life. Steven may have confessed his feelings one or three times. Grace may have just wanted to be friends one or three times.
    p.paragraph
      strong
        | 2011 - 2012
      br
      | Steven and Grace graduate from UCSD. They both serve as intern Staff at Intervarsity for UCSD. Grace moves to Nor Cal and Steven stays in San Diego. They start working and become real life adults.
    p.paragraph
      strong
        | 2013 
      br
      | Grace comes to visit San Diego one day in the winter and after hanging out for the first time in a long time, they both realize they have feelings for each other and wanted to try dating. After a few months of fits and starts, they start dating June of 2013. Steven quits his job in San Diego and finds a job in San Francisco to be closer to Grace.
    include ./includes/footer.jade