doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/preview.js')
  body.blue
    #container
      .header
        | Tracking Preview
      .preview-area.left.half
        | HTML Preview
        br
        br
        .html-preview!=tmpHtml
      .sendees.right.half
        .selector
          | Email for
          br
          input(type="radio", name="std", value="std")
          | Save-the-Dates
          br
          input(type="radio", name="invitation", value="invitation")
          | Invitation
          br
          input(type="radio", name="general", value="general")
          | General
          br
          | Custom list
          br
          input(type="text" name="custom-emails")
        form(action="/admin/stage/sendmail", method="POST", enctype="multipart/form-data", name="sendmail")
          input(type="submit", title="Send Emails")
