doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/preview.js')
  body.blue
    #container
      .header
        | Tracking Preview
      .preview-area.left.half
        | HTML Preview
        br
        br
        .html-preview!=tmpHtml
        .send-preview-button.button Send Preview
      .sendees.right.half
        .selector
          h2 Email for
          input(type="radio", name="sendees", value="std")
          | Save-the-Dates
          br
          input(type="radio", name="sendees", value="invitation")
          | Invitation
          br
          input(type="radio", name="sendees", value="general")
          | General
          br
          input(type="radio", name="sendees", value="custom")
          | Custom list
          br
          input(type="text" name="custom-emails")
        .email-list
          h2 Final Email List
          form(action="/admin/stage/sendmail", method="POST", enctype="multipart/form-data", name="sendmail")
            select(id="final-emails", size="20", multiple)
            br
            .send-mail-button.button Send Email
