doctype html
html(lang='en')
  head
    title #yuanamarryme | 06.11.16
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/rsvp.js')
  body.home
    script
      | $(document).ready(function(){additionalGuests(#{additional_guests});});
    .content
      h1
        | RSVP
      .form.attendance
        .label
          | Will you be attending the wedding?
        .input
          input.attendance-choice(type='radio', name='attendance', value='yes')
          | Yes
          br
          input.attendance-choice(type='radio', name='attendance', value='no')
          | No
      .form.additional-guests.hidden
        .label
          | How many additional guests will be coming?
        .input
          select
