doctype html
html(lang='en')
  head
    title
      | #yuanamarryme | Wedding Details
    include ./includes/head.jade
  body.home
    include ./includes/header.jade
    .content
      .honeyfund(style="width:200px;margin:0 auto;")
        a(href="http://www.honeyfund.com/wedding/yuanamarryme" style="text-align:left;background:url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;display:block;width:200px;height:100px;text-indent:-9999em;")
         | Visit our honeyfund at Honeyfund.com, the free honeymoon registry