/* Universal Box Sizing Implementation */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Body styles */

body {
  padding: 50px;
  font: 14px "Muli", Helvetica, Arial, sans-serif;
}

body.blue {
  background-color: #c0f0d8;
}

a {
  color: #00B7FF;
}


/* Basic Styles */
.header {
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed black;
  margin-bottom: 30px;
}

.half {
  width: 50%;
  padding: 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.row {
  padding: 5px 0;
  height: 30px;
  font-weight: 300;
  font-size: 11px;
}

.row.first {
  font-weight: 400;
}

.cell {
  float: left;
  width: 20%;
}

.center {
  text-align: center;
}

/* Preview page */
.html-preview {
  padding: 20px;
  background: white;
  margin: 10px 0;
}

#final-emails {
  width: 200px;
}

.button {
  padding: 10px 20px;
  margin: 5px 0;
  color: white;
  background-color: #09617c;
  width: 150px;
  text-align: center;
}

.button:hover {
  background-color: black;
  cursor: pointer;
}


