/* Universal Box Sizing Implementation */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Body styles */

body {
  padding: 50px;
  font: 14px "Muli", Helvetica, Arial, sans-serif;
}

body.blue {
  background-color: #c0f0d8;
}

a {
  color: #00B7FF;
}


/* Basic Styles */
.header {
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed black;
  margin-bottom: 30px;
}

.half {
  width: 50%;
  margin: 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

